.promo-wrapper {
  padding: 20px 0;
  margin: 0 20px;
}

.promo-wrapper > .title {
  padding: 20px 0;
  font-size: 35px;
  box-shadow: 0 0.05mm 0;
}

.promo-main {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.form-wrapper,
.list-promo {
  box-shadow: 0 0 0 0.05mm;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

.heading {
  padding: 10px 5px;
  box-shadow: 0 0.05mm;
  text-transform: capitalize;
}

.form-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 0;
}

.form-data-item {
  padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 10px;
}

.form-data-item:nth-child(1),
.form-data-item:nth-child(4),
.form-data-item:nth-child(5) {
  grid-column: 1/4;
}

.form-data-item:nth-child(2) {
  grid-column: 1/2;
}

.form-data-item:nth-child(3) {
  grid-column: 2/4;
}

.form-data-item:nth-child(6) {
  grid-column: 1/3;
}

.form-data-item label {
  text-transform: capitalize;
}

.form-data-item input,
.form-data-item select {
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0 0 0 0.07mm;
  outline: none;
  border-radius: 3px;
}

.form-data-item select {
  text-transform: uppercase;
}

.form-wrapper button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
}

.list-promo .filter-promo {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 0.05mm 0;
}

.list-promo .filter-promo .heading {
  box-shadow: unset;
}

.list-promo .filter-promo input {
  width: 100%;
  padding: 8px;
  outline: none;
  border: none;
  box-shadow: 0 0 0 0.05mm;
  border-radius: 3px;
}

.table-promo {
  padding: 20px 0;
  min-height: 350px;
}

.table-promo table {
  width: 100%;
  border-spacing: 0;
}

table td,
table th {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: rgba(122, 182, 255, 0.664);
  text-transform: capitalize;
}

.promo-table-item:last-child {
  box-shadow: unset;
}

.promo-table-item,
.promo-table-item:first-child {
  box-shadow: 0 0.05mm 0;
}

.paginations {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -0.05mm 0;
  padding: 20px 0 10px;
  gap: 10px;
}

.paginations .pagin-item {
  list-style: none;
}

.pagin-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.pagin-item.active button {
  background-color: blue;
  color: white;
}
